@model IEnumerable<OdeToFood.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Search", "Home")){    
         <p> Title: @Html.TextBox("SearchString") <br />   
         <input type="submit" value="searchTerm" /></p> 
} 

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <hr />
    </div>
}

$("#searchTerm").click(function(){
    $.get('/Home/search', function() {
    });
});