@model IEnumerable<OdeToFood.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "restaurantList"
    }))
{
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search By Name" />
}   
<div id="restaurantList">
@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <hr />
    </div>
}
</div>
